<!DOCTYPE html>
<html>
  <head>
    <title>About | Myles Smith Sample Site</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is an empty about page for Myles Smith's sample site.
    </p>
  </body>
</html>