<!DOCTYPE html>
<html>
  <head>
    <title>Help | Myles Smith Sample Site</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      This is an empty help page for Myles Smith's sample site.
    </p>
  </body>
</html>