<!DOCTYPE html>
<html>
  <head>
    <title>Home | Myles Smith Sample Site</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      This is an empty home page for Myles Smith's sample site.
    </p>
  </body>
</html>